@model PRODUCTOS_COTEMAR.Models.ProductViewModel

@{
    ViewData["Title"] = "Detalle producto";
    Layout = "~/Views/_MaterPageProducts.cshtml";
}


<div class="container">
    <h1 style="padding-top: 20px;">Detalles del producto</h1>
    <hr />
    <div class="card text-dark bg-light mb-3" style="max-width: 18rem;">
        <div class="card-header"><strong>Nombre de producto: @Html.DisplayFor(model => model.name)</strong></div>
        <div class="card-body">
            <strong><p class="card-text">Clave de producto:</p></strong><p class="card-text">#@Html.DisplayFor(model => model.id)</p>
            <strong><p class="card-text">Precio:</p></strong><p class="card-text">$@Html.DisplayFor(model => model.price)</p>
            <strong><p class="card-text">Cantidad disponible:</p></strong><p class="card-text">@Html.DisplayFor(model => model.stock)</p>
        </div>
    </div>
    <div>
        <button type="button" class="btn btn-info">Editar</button>
        <button type="button" class="btn btn-primary"onclick="location.href='@Url.Action("Index" , "Products")'">Regresar</button>
    </div>
</div>
@*<div>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    <a asp-action="Index">Back to List</a>
</div>*@
